<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966014374923-6ibh86agi2ge1au9bpap8kmrdpm282qs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966014374923-6ibh86agi2ge1au9bpap8kmrdpm282qs</string>
	<key>API_KEY</key>
	<string>AIzaSyANAXTq2ESkH90GgRkmMp6FlrnDe8-yVM4</string>
	<key>GCM_SENDER_ID</key>
	<string>966014374923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thecollegebee.ios.app</string>
	<key>PROJECT_ID</key>
	<string>thecollegebee-events-app</string>
	<key>STORAGE_BUCKET</key>
	<string>thecollegebee-events-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966014374923:ios:ad1e1a5ab052c9e125230e</string>
	<key>DATABASE_URL</key>
	<string>https://thecollegebee-events-app.firebaseio.com</string>
</dict>
</plist>